{% extends 'base.html' %}

{% block content %}
    <div class="row justify-content-md-center">
    <div class="col col-sm-12">
        <h2>Question {{ number }}</h2>
        <p class="muted">Which one of these tweets was really tweeted by Donald Trump?</p>
    </div>
    <div class="col col-sm-12">
        <div class="row row-sm12 justify-content-md-center">
            {% for answer in answers %}
            <div class="col col-sm-3">
                <h4>Option {{ answer.option }}</h4>
                <div class="card" style="min-height: 250px !important;">
                    <div class="card-body">
                        <h5 class="card-title">
                            Donald J. Trump
                        </h5>
                        <h6 class="card-subtitle mb-2 text-muted">@realDonaldTrump</h6>
                        <p class="text">
                            {{ answer.text }}
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
    <div class="col col-sm-12">
        <div class="row row-sm12 justify-content-md-center">
            <form method="post">
                {% csrf_token %}
                <h3 class="mt-5">Your answer</h3>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="choice" id="id_choice_0" value="A">
                  <label class="form-check-label" for="id_choice_0">
                    Option A
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="choice" id="id_choice_1" value="B">
                  <label class="form-check-label" for="id_choice_1">
                    Option B
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="choice" id="id_choice_2" value="C">
                  <label class="form-check-label" for="id_choice_2">
                    Option C
                  </label>
                </div>
                <div class="form-check mb-3">
                  <input class="form-check-input" type="radio" name="choice" id="id_choice_3" value="D">
                  <label class="form-check-label" for="id_choice_3">
                    Option D
                  </label>
                </div>
                <input type="submit" class="btn btn-primary btn-lg btn-block mb-5" value="Submit answer">
            </form>
        </div>
    </div>



    </div>
{% endblock %}
